.alerta-contenido{
    background-color:rgb(162, 230, 148)!important;
    width:300px!important;
    padding: 10px 20px!important;
    margin: 20% auto!important;
    position: relative!important;
  }
  .alerta{
    background-color: rgba(0,0,0,.8)!important;
    position:fixed!important;
    top:0!important;
    right:0!important;
    bottom:0!important;
    left:0!important;
    opacity:0;
    z-index: 9999!important;
    transition: all 0.3s!important;
  }
  